

body {
  background: url(../img/tonybackgrd.jpg) left center no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    font-style: normal;
    font-family: sans-serif;
    margin: 0;
}

* {
  box-sizing: border-box;
}

.container {
  margin: 0px 13%;
}

section {
    padding: 3% 0;
}

header {
    display: block;
    height: 100vh;
}

@media only screen and (max-width: 800px) {
    header {
        height: auto;
    }
}

@media only screen and (max-width: 500px) {
    header {
        height: auto;
    }
}

.logo {
    margin-top: 45px;
}

.about {
    background: #F4F4F4;
    color: #111;
    margin: 0px;
    font-size: 1.2em;
    padding: 3% 0 6%;
}

.about h1 {
    color: #1A1A1A;
}

.service {
    background: #000;
    color: #fff;
    margin: 0px;
    font-size: 1.2em;
    padding: 3% 0 6%;
}

.portfolio {
    background: #ffffff;
    color: #111;
    margin: 0px;
    font-size: 1.2em;
}

.portfolio h1 {
    color: #7f7f7f;
}

.footer-text {
    background: #f2f2f2;
    color: #111;
    margin: 0px;
    font-size: 1.2em;
    padding: 5% 0 5%;
}

.footer {
    background: #1F1F1F;
    height: auto;
    color: #fff;
    padding: 5% 0 5%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -moz-filter: grayscale(1);
    -ms-filter: grayscale(1);
    -o-filter: grayscale(1);

    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; // IE8

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=30); // IE 5-7
}

.footer img {
    opacity: 0.2;
    padding: 10px 10px;
}

.footer-text h1 {
    color: #7f7f7f;
}

f-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;

}

p {
    color: #7f7f7f;
    font-weight: 100;
    font-size: 1.2em;
    line-height: 1.4em;
}

@media only screen and (max-width: 500px) {
    p {
        font-size: 0.8em;
    }
}

h1 {
    font-size: 2.3em;
    font-weight: 100;
    margin-bottom: 2px;
    /*color: dimgrey;*/
    color: #BA9568;
}

@media only screen and (max-width: 500px) {
    h1 {
        font-size: 1.1em;
    }
}

.quetext {
    font-size: 38px;
    width: 58%;
    margin-top: 15%;
    margin-bottom: 0px;
}

@media only screen and (max-width: 800px) {
    .quetext {
        width: 99%;
    }
}

@media only screen and (max-width: 500px) {
    .quetext {
        font-size: 1.5em;
        width: 99%;
    }
}

.quesub {
    font-size: 22px;
    color: #BA9568;
}

.social {
    display: flex;
    margin: 0 0;
}

.social p {
    padding-right: 25px;
}

.social a {
    color: #A20619;
    text-decoration: none;
}

.social a:hover {
    color: #000;
}

.sociallinks {
    display: inline-block;
}

.sociallinks .fa {
    padding-right: 15px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  padding: 10px;
}

li:nth-child(2) {
  margin-left: auto;
}

hr {
    width: 200px;
    display: inline-block;
}

.short-width {
    max-width: 900px;
    min-width: 100px;
}

.copyright {
    font-size: 0.8em;
    font-weight: 600;
    color: #585858;
}
